.add-chore-container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin: 0 0.5rem 2rem;
  background: var(--gradient);
  box-shadow: var(--shadow);
  border-radius: 15px;
  align-self: center;
  width: 100%;
  max-width: 500px;
}
.add-chore-container .btn {
  margin: 1rem;
  width: 500px
  }

.add-titles {
  width: 100%;
  text-align: center;
  padding: 0.5rem 0;
  background-color: var(--purple);
  border-radius: 15px;
  margin-bottom: 1rem;
}
input,
select {
  display: inline-block;
  margin-bottom: 2rem;
  border: 1px solid var(--purple);
  padding: 1rem;
  border-radius: 15px;
}

.add-chore-btn-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}