@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;700&family=Luckiest+Guy&display=swap");

:root {
  --peach: #f7c076;
  /* --peach-medium: #ebddba; */
  --peach-light: #fff9ca;
  --white: rgb(255, 255, 255);
  --black: rgb(71, 71, 71);
  --gray: rgb(81, 81, 81);
  --purple: #b2a4ff;
  --purple-dark: #756da0;
  --pink: #ffb4b4;
  --gradient: linear-gradient(var(--peach), var(--purple));
  --font-bold: "Luckiest Guy", cursive;
  --font-main: "Comfortaa", cursive;

  /* --orange: rgb(236, 180, 78);
  --orange-dark: rgb(236, 180, 78); */
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-main);
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

/* .App {
  height: 100vh;
} */

.app-container {
  padding: 2rem;
}

h1 {
  font-family: var(--font-bold);
  letter-spacing: 0.1em;
}

.btn {
  padding: 1em 2em;
  border-radius: 10px;
  font-family: var(--font-main);
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  max-width: 15rem;
}

.btn-fill_purple {
  background-color: var(--purple-dark);
  border: 2px solid var(--purple-dark);
  color: var(--white);
}

.btn-fill_purple:hover {
  background-color: var(--purple);
}

.btn-stroke_purple {
  background-color: transparent;
  border: 2px solid var(--purple-dark);
  color: var(--purple-dark);
}

.btn-stroke_purple:hover {
  background-color: var(--purple-dark);
  color: var(--white) !important;
}
