.find-chore-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--gradient);
    box-shadow: var(--shadow);
    padding: 3rem 1rem;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    width: 90vw;
    max-width: 1000px;
    margin: 5rem
  
}