.nav-container {
  background-color: var(--white);
  box-shadow: 0px 6px 44px -31px rgba(94, 89, 67, 1);
  padding: 1rem 2rem;
  width: 100%
}
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-container {
  width: 30%;
  max-width: 4rem;
}
.logo-img {
  width: 100%;
}
.logo-btn {
  background-color: transparent;
  border: none;
}
.nav-links {
  display: flex;
  margin: 0;
  padding: 0;
}
.nav-links a {
  color: var(--purple-dark);
  font-weight: bold;
}
.nav-links a:visited {
  color: var(--purple-dark);
}
.nav-links li {
  list-style: none;
  /* margin-bottom: 1em; */
  margin-right: 1em;
}
.nav-links li:last-of-type {
  /* margin-bottom: 0; */
  margin-right: 0;
}