.parent-dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.parent-dashboard-chores-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
  margin-bottom: 2rem;
  background: var(--gradient);
  padding: 0.5rem;
  border-radius: 25px;
}

.parent-dashboard-chores-container h2 {
  color: var(--purple-dark);
  text-align: center;
}

.parent-dashboard-chores-container .btn-narrow {
  margin-bottom: 1.5rem;
}
