.sign-up-form {
  display: flex;
}

.sign-up-form .btn {
  align-self: center;
}

label {
  text-align: center;
}

.sign-up-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5rem;
}